<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}EventCon{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-3">
                                <div class="logo">
                                    <a href="{% url 'home' %}">
                                        <img src="{% static 'img/logo.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{% url 'home' %}" data-translate="home">خانه</a></li>
                                            <li><a href="{% url 'events' %}" data-translate="events">رویدادها</a></li>
                                            <li><a href="{% url 'tours' %}" data-translate="tours">تورها</a></li>
                                            <li><a href="{% url 'real_estate' %}" data-translate="realEstate">املاک</a></li>
                                            <li><a href="{% url 'advertising' %}" data-translate="advertising">تبلیغات</a></li>
                                            <li><a href="{% url 'education' %}" data-translate="education">تحصیلی</a></li>
                                            <li><a href="{% url 'legal' %}" data-translate="legal">امور حقوقی</a></li>
                                            <li><a href="{% url 'about' %}" data-translate="about">درباره ما</a></li>
                                            <li><a href="{% url 'contact' %}" data-translate="contact">تماس</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="buy_tkt">
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="#">Buy Tickets</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    {% block content %}
    {% endblock %}

    <!-- brand_area_start  -->
    <div class="brand_area black_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">Sponsor Logos</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand_wrap">
                        <div class="brand_active owl-carousel">
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/1.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/2.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/3.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/4.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/5.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/1.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand_area_end  -->
    <!-- footer_start  -->
    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer_content">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="footer_widget">
                                        <h4 data-translate="aboutUs">درباره ما</h4>
                                        <p data-translate="aboutDesc">کانون همیاری ارائه‌دهنده خدمات جامع در زمینه رویدادها، تورها، املاک، تبلیغات، تحصیلی و امور حقوقی</p>
                                        <div class="social_links">
                                            <a href="#" class="social_link"><i class="fa fa-facebook"></i></a>
                                            <a href="#" class="social_link"><i class="fa fa-twitter"></i></a>
                                            <a href="#" class="social_link"><i class="fa fa-instagram"></i></a>
                                            <a href="#" class="social_link"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="footer_widget">
                                        <h4 data-translate="quickLinks">لینک‌های سریع</h4>
                                        <ul class="footer_links">
                                            <li><a href="{% url 'home' %}" data-translate="home">خانه</a></li>
                                            <li><a href="{% url 'events' %}" data-translate="events">رویدادها</a></li>
                                            <li><a href="{% url 'tours' %}" data-translate="tours">تورها</a></li>
                                            <li><a href="{% url 'real_estate' %}" data-translate="realEstate">املاک</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <div class="footer_widget">
                                        <h4 data-translate="services">خدمات</h4>
                                        <ul class="footer_links">
                                            <li><a href="{% url 'advertising' %}" data-translate="advertising">تبلیغات</a></li>
                                            <li><a href="{% url 'education' %}" data-translate="education">تحصیلی</a></li>
                                            <li><a href="{% url 'legal' %}" data-translate="legal">امور حقوقی</a></li>
                                            <li><a href="{% url 'contact' %}" data-translate="contact">تماس</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="footer_widget">
                                        <h4 data-translate="contactInfo">اطلاعات تماس</h4>
                                        <div class="contact_info">
                                            <p><i class="fa fa-map-marker"></i> <span data-translate="address">تهران، خیابان ولیعصر، پلاک ۱۲۳</span></p>
                                            <p><i class="fa fa-phone"></i> <span data-translate="phone">+۹۸ ۲۱ ۱۲۳۴ ۵۶۷۸</span></p>
                                            <p><i class="fa fa-envelope"></i> <span data-translate="email">info@kanoonhamyari.com</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_bottom">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <p class="copyright_text" data-translate="copyright">
                                        تمام حقوق محفوظ است © <script>document.write(new Date().getFullYear());</script> کانون همیاری
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="footer_bottom_links">
                                        <a href="#" data-translate="privacyPolicy">حریم خصوصی</a>
                                        <a href="#" data-translate="termsOfService">شرایط استفاده</a>
                                        <a href="#" data-translate="sitemap">نقشه سایت</a>
                                        <a href="#" data-translate="faq">سوالات متداول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->

    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/tilt.jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
